<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Add User</title>
</head>

<!--TODO add the correct headers, create a form that accepts user input for each of the User fields password, username, email
TODO form should be set to post to /user; be sure to use the correct type for email and password, this will allow us to do client side validation.-->

<body>

<form method="post" action="/user">

    <label>Username:
        <input type="text" name="username" th:value="${username}">
    </label>

    <label>Email Address:
        <input type="email" name="email" th:value="${email}">
    </label>
    <label>Password:
        <input type="password" name="password" th:value="${password}">
    </label>

    <label>Verify Password:
        <input type="password" name="verify" th:value="${verify}">
    </label>

    <input type="submit" value="Sign in!">

</form>


</body>
</html>